# Managed by Systemd to run the Wintermute application as a service/daemon. 

[Unit]
Description=Wintermute Discord VC Bot

[Service]
Type=simple
WorkingDirectory=%h/wintermute
ExecStart=%h/wintermute/src/client-main.py
Restart=on-failure

[Install]
WantedBy=default.target
